<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>用户中心</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" placeholder="请输入用户名关键字" />
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-normal addUser_btn">添加用户</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
			</div>
		</form>
	</blockquote>
	<table class="layui-table" id="userList" lay-filter="userList" lay-data="{id: 'userList'}"></table>

	<script type="text/html" id="userListBar">
		<a class="layui-btn layui-btn-xs"  lay-event="edit" >编辑</a>
		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</script>
</form>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" >
	layui.use(['form','layer','table','laytpl','jquery'],function(){
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				laytpl = layui.laytpl,
				table = layui.table;
		//用户列表
		var tableIns = table.render({
			elem: '#userList',
			url : 'ADMIN/users',
			cellMinWidth : 95,
			page : true,
			height : "full-125",
			limits : [10,15,20,25],
			limit : 20,
			id : "userListTable",
			cols : [
					[
				{type: "checkbox", fixed:"left", width:50},
				{field: 'userid', title: 'userid', minWidth:100, align:"center"},
				{field: 'username', title: '用户名', minWidth:100, align:"center"},
				{field: 'email', title: '用户邮箱', minWidth:200, align:'center'},
				{field: 'sex', title: '用户性别', align:'center'},
				{field: 'role', title: '用户角色', align:'center'},
				{title: '操作', minWidth:175, templet:'#userListBar',fixed:"right",align:"center"}
					]
				]
		});

		//根据用户名搜索用户
		$(".search_btn").on("click",function(){
			if($(".searchVal").val() != ''){
				tableIns.reload({
					url: 'ADMIN/user?username='+$(".searchVal").val(),
					page: {
						curr: 1 //重新从第 1 页开始
					}
				})
			}else{
				layer.msg("请输入用户名关键字");
			}
		});

		//添加用户
		$(".addUser_btn").click(function(){
			addUser();
		})
		function addUser(edit){
			var index = layui.layer.open({
				title : "添加用户",
				type : 2,
				content : "userAdd.html",
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					setTimeout(function(){
						layui.layer.tips('点击此处返回用户列表', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500)
				}
			})
			layui.layer.full(index);
			window.sessionStorage.setItem("index",index);
			//改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
			$(window).on("resize",function(){
				layui.layer.full(window.sessionStorage.getItem("index"));
			})
		}
		function updateUser(edit){
			var index = layui.layer.open({
				title : "编辑用户",
				type : 2,
				content : "AdminUserUpdate.html",
				success : function(layero, index){
					var body = layui.layer.getChildFrame('body', index);
					body.find("#userid").val(edit.userid);
					body.find("#username").val(edit.username);
					body.find("#password").val(edit.password);
					body.find("#email").val(edit.email);
					body.find("#sex").val(edit.sex);
				}
			})
			layui.layer.full(index);
			window.sessionStorage.setItem("index",index);
			$(window).on("resize",function(){
				layui.layer.full(window.sessionStorage.getItem("index"));
			})
		}

		//批量删除
		$(".delAll_btn").click(function(){
			var checkStatus = table.checkStatus('userListTable'),
					data = checkStatus.data,
					Id = [];
			if(data.length > 0) {
				for (var i in data) {
					Id.push(data[i].userid);
				}
				layer.confirm('确定删除选中的用户？', {icon: 3, title: '提示信息'}, function (index) {
					$.ajax({
						type: "delete",
						url: "ADMIN/users",
						traditional: true,
						data: {userIds:Id},
						success: function () {
							alert("删除成功")
						}
					});
					tableIns.reload();
					layer.close(index);

				})
			}else{
				layer.msg("请选择需要删除的用户");
			}
		})

		//监听单行数据
		table.on('tool(userList)', function(obj){
			var layEvent = obj.event,
					data = obj.data;

			if(layEvent === 'edit'){ //编辑
				updateUser(data);
			}else if(layEvent === 'del'){ //删除
				$.ajax({
						 type: "delete",
						 url: "ADMIN/user",
						 data: {userId:data.userid},
						 success: function () {
								alert("删除成功")
						 }
					 });
			}
		});

	})
</script>
</body>
</html>